input[type = 'text']{
    width: 200%;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border: 0.5px solid dimgray;
  
}
textarea{
    padding-left: 10px;
    border: 0.5px solid dimgray;
}
input[type = 'submit']{
    border-style: none;
}
