.recents{
    background-color: #212121;
    margin-top:50px ;
}
.image{
    
    width: 100%;
}
.rentContainer{
    height: 100px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .recents{
        background-color: #212121;
        margin-top:50px ;
    }
    .image{
        
        width: 70%;
    }
    .rentContainer{
        height: 100px;
    }
    
}
@media screen and (min-width:992px){
    .recents{
        background-color: #212121;
        margin-top:0px ;
    }
    .image{
        height: 350px;
        width: 90%;
    }
    .rentContainer{
        height: 1190px;
    }
    
    
}